<!doctype html>
<html lang="{{ locale or site.defaultLocale }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% include "partials/meta.njk" %}
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}" />
  </head>
  <body class="site-body" data-page="{{ pageType or 'page' }}">
    {% set t = i18n[locale or site.defaultLocale] %}
    <a class="skip-link" href="#main-content">{{ t.nav.skipToContent }}</a>
    {% include "partials/header.njk" %}
    <main id="main-content" class="main" tabindex="-1">
      {{ content | safe }}
    </main>
    {% include "partials/footer.njk" %}
  </body>
</html>
